
.landing {
	background-color: var(--black);
}

.notLanding {
	background-color: hsla(0, 0%, 13%, 0.8);
}

.expandedMobileLndg {
	background-color: hsla(0, 0%, 13%, 0.8) !important;
}

.expandedMobile {
	background-color: hsla(0, 0%, 100%, 1) !important;
}

.nav-item {
	font-weight: 100;
}

.white {
	background-color: white;
}

@media (max-width: 500px) {
	.no-show {
		display: none;
	}
}
