.prod-wrapper {
  min-height: calc(100vh - var(--navbar-height));
  margin-top: calc(var(--navbar-height) + 2rem);
}

.prod-imgs, .prod-data {
  height: 100%
}

.carousel {
  width: 100%;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-caption {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0px;
}

.caption-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  height: 100%;
  width: 100%;
}

.custom {
	height: 33rem;
  width: 100%;
  background-color: transparent;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  width: 100%;
  z-index: -1
}

.spinner {
  font-size: 3rem;
  color: black;
}

.title {
  font-size: 3rem;
  font-weight: 100;
}

.price {
  font-size: 1.5rem;
  color: var(--grey);
  font-weight: 100;
}

.qty {
  width: 5rem;
}

.botonComprar {
	color: white;
	background-color: var(--pink-dark);
	border-color: var(--pink-dark);
}

.botonComprar:hover {
	color: white;
	background-color: var(--pink-light);
	border-color: var(--pink-light);
	cursor: pointer;
}

.botonComprar:active {
  color: white;
  background-color: var(--pink-light);
	border-color: var(--pink-light);
  box-shadow: 0 0 0 0.2rem hsla(290, 100%, 50%, 0.5);
}

.desc-esp {
  font-weight: 100;
}

.desc-title {
  font-size: 2.5rem;
  font-weight: 100;
}

.descripcion {
  white-space: pre-wrap; 
  // esto hace que con nueva linea (\n) lo haga y tambien cuando no hay espacio
}

@media (max-width: 744px) {


}