
.container-fluid {
  min-height: 100%;
}

.carousel-wrapper {
  height: 100%;
  background-color: white;
}

.carousel {
  width: 100%;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel-item {
  height: 100%;
}

.custom {
	height: 100%;
  width: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.carousel-caption {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0px;
}

.caption-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  height: 100%;
  width: 100%;
}

.text-wrapper {
  padding-bottom: 2rem;
  padding-left: 3rem;
  max-width: 40%;
}

.oneliner {
	color: white;
  font-size: 3vw;
  font-weight: 100;
  line-height: 1.6;
  text-align: center;
}

.sub-liner {
	color: white;
  font-size: 2rem;
  font-weight: 100;
  text-align: start;
}

.button-wrapper {
  display: block;
  text-align: center;
}

.botonComprar {
	color: white;
	background-color: var(--pink-dark);
	border-color: var(--pink-dark);
}

.botonComprar:hover {
	color: white;
	background-color: var(--pink-light);
	border-color: var(--pink-light);
	cursor: pointer;
}

.botonComprar:active {
  color: white;
  background-color: var(--pink-light);
	border-color: var(--pink-light);
  box-shadow: 0 0 0 0.2rem hsla(290, 100%, 50%, 0.5);
}

.botonConocer {
	color: white;
	border-color: white;
}

.botonConocer:hover {
	cursor: pointer;
}

// video#bgvid { 
//   position: relative;
//   top: 50%;
//   left: 50%;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: 2;
//   -ms-transform: translateX(-50%) translateY(-50%);
//   -moz-transform: translateX(-50%) translateY(-50%);
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
//   //background: url(polina.jpg) no-repeat;
//   background-size: cover; 
// }

video#bgvid { 
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    filter: brightness(70%);
    /* filter: grayscale(100%); */
}

@media (min-width : 768px) {

	.mobile {
		display: none;
	}

}

@media (max-width : 769px) {

	.desktop {
		display: none;
  }
  
  .text-wrapper {
    padding-left: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
    margin-top: 4rem
  }

  .oneliner {
    font-size: 2rem;
  }

}


