
// .container-fluid {
//   min-height: calc(100vh - 56px)
// }

// .carousel-wrapper {
//   height: calc(100vh - var(--navbar-height));
//   background-color: var(--pink-light);
// }

.container-fluid {
  min-height: 100%;
}

.carousel-wrapper {
  height: 100%;
  background-color: var(--pink-light);
}

.carousel {
  width: 100%;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel-item {
  height: 100%;
}

.custom {
	height: 100%;
  width: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.carousel-caption {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0px;
}

.caption-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  height: 100%;
  width: 100%;
}

.text-wrapper {
  padding-bottom: 2rem;
  max-width: 40%;
}

.oneliner {
	color: white;
  font-size: 3vw;
  font-weight: 100;
  line-height: 1.6;
  text-align: start;
}

.sub-liner {
	color: white;
  font-size: 2rem;
  font-weight: 100;
  text-align: start;
}

.button-wrapper {
  display: block;
  text-align: start;
}

.botonComprar {
	color: white;
	background-color: var(--pink-dark);
	border-color: var(--pink-dark);
}

.botonComprar:hover {
	color: white;
	background-color: var(--pink-light);
	border-color: var(--pink-light);
	cursor: pointer;
}

.botonComprar:active {
  color: white;
  background-color: var(--pink-light);
	border-color: var(--pink-light);
  box-shadow: 0 0 0 0.2rem hsla(290, 100%, 50%, 0.5);
}

.botonConocer {
	color: white;
	border-color: white;
}

.botonConocer:hover {
	cursor: pointer;
}


@media (min-width : 768px) {

	.mobile {
		display: none;
	}

}

@media (max-width : 769px) {

	.desktop {
		display: none;
	}

}


