
.container-fluid {
  min-height: 100%;
}

.carousel-wrapper {
  height: 100%;
  background-color: white;
}

.carousel {
  width: 100%;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel-item {
  height: 100%;
}

.custom {
	height: 100%;
  width: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
  filter: brightness(60%);
}

.carousel-caption {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0px;
}

.caption-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  height: 100%;
  width: 100%;
}

.text-wrapper {
  padding-bottom: 2rem;
  // padding-left: 3rem;
  // max-width: 100%;
}

.logo {
  width: 40%;
}

.oneliner {
	color: white;
  font-size: 3vw;
  font-weight: 100;
  line-height: 1.6;
  text-align: center;
}

.sub-liner {
  color: white;
  font-size: 1.8rem;
  font-weight: 100;
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
}

video#bgvid { 
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    filter: brightness(70%);
    /* filter: grayscale(100%); */
}

@media (min-width : 768px) {

	.mobile {
		display: none;
  }

}

@media (max-width : 769px) {

	.desktop {
		display: none;
  }

  .text-wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .logo {
    width: 100%;
    margin-bottom: 2rem;
  }

  .oneliner {
    font-size: 2rem;
  }

  .sub-liner {
    font-size: 1.3rem;
    width: 100%;
    margin: auto;
  }

}


