<!-- 
Lo de abajo sirve en caso de querer presentar un carrousel de pagina entera
la imagen la saco porque es dificil hacerla responsive. Uso la imagen como cover del div custom.
Como el template de cada slide se crea dinamicamente por el componente de ng-bootstrap es necesario modificar las clase desde el controlador 
-->

<div  *ngIf="carrousel"  class="carousel-wrapper d-flex">
  <ngb-carousel [interval]="0"  [showNavigationArrows]="false" (slide)="cambio($event)">
    <ng-template ngbSlide #slide1>
      <div class="carousel-caption">
        <div class="oneliner">Metaselo en el orto viejo</div>
        <div class="botones">
          <button type="button" class="btn btn-lg botonComprar" (click)= "toProducts()">Comprar</button>
          <button type="button" class="ml-2 btn btn-lg btn-outline-secondary botonConocer" (click)= "more()">Conocer mas</button>
        </div>
      </div>
      <img style="display:none;" [src]="data[1]" width="100" alt="">
      <div class="custom" [ngStyle]="{'background-image': 'url(' + images[data.carrImgs[0]].url + ')'}"></div>
    </ng-template>
    <ng-template ngbSlide #slide2>
      <div class="carousel-caption">
        <div class="oneliner">Metaselo en el orto viejo</div>
        <div class="botones">
          <button type="button" class="btn btn-lg botonComprar" (click)= "toProducts()">Comprar</button>
          <button type="button" class="ml-2 btn btn-lg btn-outline-secondary botonConocer" (click)= "more()">Conocer mas</button>
        </div>
      </div>
      <img style="display:none;" [src]="data[2]" width="100" alt="">
      <div class="custom" [ngStyle]="{'background-image': 'url(' + images[data.carrImgs[1]].url + ')'}"></div>
    </ng-template>
    <ng-template ngbSlide #slide3>
      <div class="carousel-caption">
        <div class="oneliner">Metaselo en el orto viejo</div>
        <div class="botones">
          <button type="button" class="btn btn-lg botonComprar" (click)= "toProducts()">Comprar</button>
          <button type="button" class="ml-2 btn btn-lg btn-outline-secondary botonConocer" (click)= "more()">Conocer mas</button>
        </div>
      </div>
      <img style="display:none;" [src]="data[3]" width="100" alt="">
      <div class="custom" [ngStyle]="{'background-image': 'url(' + images[data.carrImgs[2]].url + ')'}"></div>
    </ng-template>
    <ng-template ngbSlide #slide3>
      <div class="carousel-caption">
        <div class="oneliner">Metaselo en el orto viejo</div>
        <div class="botones">
          <button type="button" class="btn btn-lg botonComprar" (click)= "toProducts()">Comprar</button>
          <button type="button" class="ml-2 btn btn-lg btn-outline-secondary botonConocer" (click)= "more()">Conocer mas</button>
        </div>
      </div>
      <img style="display:none;" [src]="data[0]" width="100" alt="">
      <div class="custom" [ngStyle]="{'background-image': 'url(' + images[data.carrImgs[3]].url + ')'}"></div>
    </ng-template>
  </ngb-carousel>
</div>

<!-- El div de abajo sirve en caso de querer usar de una imagen f.urlull screen -->
<div *ngIf="!carrousel"  class="carousel-wrapper d-flex">

  <div class="custom desktop" [ngStyle]="{'background-image': 'url(' + images[data.carrImgs[3]].url + ')'}">
    <div class="titulos">
      <!-- <img class="logo ml-4" [src]="logo"> -->
      <div class="oneliner">MÉTASELO EN EL ORTO</div>
      <div class="botones">
        <button type="button" class="btn btn-lg botonComprar" (click)= "toProducts()">Comprar</button>
        <button type="button" class="ml-2 btn btn-lg btn-outline-secondary botonConocer" (click)= "more()">Conocer mas</button>
      </div>
    </div>
  </div>
  
</div>

<app-steps></app-steps>

<app-trust-quadri></app-trust-quadri>



  
  