<div class="contenedor">

    <div class="project-header-wrapper">
      <div class="featured" [ngStyle]="{'background-image': 'url(' + data.featured + ')'}"></div>
      <div class="title-wrapper jumbotron mb-0 bg-transparent">
        <div class="container">
          <!-- <div class="title-img">Nosotros</div> -->
        </div>
      </div>
    </div>

    <div class="container text">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
          <h1 class="title">¿Que es el terrazzo?</h1>
            <p>
              Las raíces del terrazzo se remontan a Venecia del siglo XV. Artesanos de aquella época utilizaban para su fabricación materiales de descarte de la construcción de palacios, catedrales y diversos edificios.
            </p>
            <p>
              En sus orígenes, el terrazzo se componía simplemente de una base arcillosa sobre la que se vertían cascotes y guijarros de mármol. Posteriormente estos guijarros se pulieron para conseguir un pavimento más confortable. Finalmente, los trabajadores descubrieron que vertiendo leche de cabra, incluso una vez seca, el aspecto del suelo adquiría un aspecto similar al del mármol​ por lo que empezaron a usarlo como sellante.
            </p>
        </div>
        <div class="container">
          <h1 class="title">Nosotros</h1>
          <div>
          </div>
            <p>
              Queo es un proyecto nacido de <a class="link" href="https://www.quadri.com.ar">Quadri</a>, empresa pionera en la producción de baldosas de terrazzo en la Argentina. <a class="link" href="https://www.quadri.com.ar">Quadri</a> se estableció en Buenos Aires en 1861. Sus fundadores trajeron desde Lugano, Suiza, el oficio y técnica del terrazzo.
            </p>
            <p>
              En Queo combinamos las tradicionales técnicas artesanales de la fabricación del terrazzo con nuevas tecnologías de aglomerado y pulido. Utilizamos mármoles, cuarzo, vidrios y otros minerales y compuestos para obtener un terrazzo moderno y de altas prestaciones.
            </p>
            <p>
              El terrazzo nos permite diseñar piezas únicas, diferentes, verdaderas obras de art
            </p>
        </div>
      </div>
    </div>
</div>