<div class="jumbotron jumbotron-fluid mb-0 bg-white">
  <div class="container">
    <div class="titulo mb-1">Descubre nuestros blends</div>
    <div class="colorText mb-4">Consultanos por colores especiales o a medida</div>
    <div class=" color-container d-flex">
      <div *ngFor="let color of colors" class="align-self-center d-flex flex-column align-items-center">
        <div  class="color mx-3 mt-3 mb-1" 
        (click)="select(color)" [ngStyle]="{'background-image': 'url(' + colorsUrl[color.name].url + ')'}">
        </div>
        <div class="text-center w-100 color-names"> {{ colorsUrl[color.name].name }} </div>
      </div>
    </div>
  </div>
</div>