.color-container {
  flex-direction: row;
  flex-wrap: wrap;
}

.color {
  height: 15rem;
  width: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15rem;
  // flex-shrink: 0;
}

.titulo {
  font-size: 2.5rem;
  font-weight: 100;
}

.color-names {
  font-size: 1rem;
  font-weight: 100;
}

@media (max-width: 744px) {

  .color-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

}
