.project-header-wrapper{
  position: relative;
}

.project-presentacion {
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: 130;
  color: white;
}

.card-wrapper {
  min-height: calc(100vh - var(--navbar-height));
  margin-top: calc(var(--navbar-height) + 2rem);
}

.card-img-div {
  // height: 300px; lo setie para que se cargue la altura dinamicamente segun la foto
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}