.container-fluid {
  background-color: var(--grey-light);
  color: white;
}

.icons {
  font-size: 6rem;
}

.sub-title {
  font-size: 1.2rem;
}

.text {
  font-size: 1.2rem;
  font-weight: 100;
}

.title {
  font-size: 2rem;
  font-weight: 100;
}