<div class="p-5 container-fluid">
    <div class="text-center title">
      ¿Por qué terrazzo? ¿Por qué Quadri?
    </div>
    <div class="row">
      <div class=" p-5 col d-flex flex-column align-items-center">
        <div>
          <fa-icon class="icons p-3" [icon]="lightbulb"></fa-icon>
        </div>
        <div class="align-self-center px-2 sub-title text-center">Singular</div>
        <div class="py-5 text-center text">
          Un producto distinto,
        </div>
      </div>
      <div class="p-5 col d-flex flex-column align-items-center">
        <div>
          <fa-icon class="icons p-3" [icon]="link"></fa-icon>
        </div>
        <div class="align-self-center px-2 sub-title text-center">A prueba del tiempo</div>
        <div class="py-5 text-center text">
          Contactanos y cuentanos los detalles de tu proyecto para que podamos ayudarte
        </div>
      </div>
      <div class="p-5 col d-flex flex-column align-items-center">
        <div>
          <fa-icon class="icons p-3" [icon]="check"></fa-icon>
        </div>
        <div class="align-self-center px-2 sub-title text-center">Calidad</div>
        <div class="py-5 text-center text" >
          Juntos lograremos crear un espacio sofisticado, elefante y especial
        </div>
      </div>
      <div class="p-5 col d-flex flex-column align-items-center">
        <div>
          <fa-icon class="icons p-3" [icon]="hands"></fa-icon>
        </div>
        <div class="align-self-center px-2 sub-title text-center">Experiencia</div>
        <div class="py-5 text-center text" >
          Juntos lograremos crear un espacio sofisticado, elefante y especial
        </div>
      </div>
    </div>
  </div>
