.imagen-presentacion {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  height: 100%
}

.titulo {
  font-size: 2.5rem;
  font-weight: 100;
}

.prod {
  height: 20rem;
  width: 20rem;
  background-color: var(--green-dark);
}