<div class="app-header-wrapper">
  <div class="jumbotron jumbotron-fluid imagen-presentacion mb-0"
    [ngStyle]="{'background-image': 'url(' + application.presentacion + ')'}"></div>
  <div class="title-wrapper jumbotron mb-0 bg-transparent">
    <div class="container">
      <div class="title">{{ application.titulo }}</div>
      <p class="sub-title">{{ application.texto }}</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0 bg-white">
    <div class="container" >
      <div class="titulo mb-3">Conoce todos nuestras lineas de productos para {{ application.titulo | lowercase }} </div>
      <div class="d-flex product-container">
        <div *ngFor="let prod of application.products" class="prod" (click)="routeTo(prod)">
          <div class="background" 
          [ngStyle]="{'background-image': 'url(' + products[prod].menu + ')'}"></div>
          <div class="text-wrapper d-flex align-items-center">
            <div class="text-center w-100 prod-name"> {{ products[prod].name }} </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="jumbotron jumbotron-fluid imagen-segunda mb-0"
[ngStyle]="{'background-image': 'url(' + application.presentacion + ')'}">
</div>

<app-steps></app-steps>
<app-trust-quadri></app-trust-quadri>
