<div class="jumbotron jumbotron-fluid m-0 bg-transparent">
  <div class="container">
    <div class="text-center title">
      ¿Donde empezar?
    </div>
    <div class="row">
      <div class=" item-wrapper col-md-4 col-sm-12 d-flex flex-column align-items-center">
        <div class="align-self-center px-3 rounded-circle number text-center">1</div>
        <div class="text-center text">
          Encuentra entre nuestros productos el objeto ideal para tu proyecto. 
        </div>
      </div>
      <div class="item-wrapper col-md-4 col-sm-12 d-flex flex-column align-items-center">
        <div class="align-self-center px-3 rounded-circle number text-center" >2</div>
        <div class="text-center text">
          Contactanos, envianos fotos, planos o referencias para que podamos ayudarte en tu diseño.
        </div>
      </div>
      <div class="item-wrapper col-md-4 col-sm-12 d-flex flex-column align-items-center">
        <div class="align-self-center px-3 rounded-circle number text-center">3</div>
        <div class="text-center text" >
          Juntos lograremos crear un espacio sofisticado, elegante y especial
        </div>
      </div>
    </div>
  </div>
</div>
