<div class="jumbotron jumbotron-fluid mb-0 bg-transparent">
    <div class="container d-flex flex-column flex-md-row">
      <div class="images-container">
          <div class="custom" [ngStyle]="{'background-image': 'url(' + data.featured + ')'}"></div>
      </div>
      <div class="text-container d-flex flex-column justify-content-center align-items-center">
        <div class="title">A medida</div>
        <div class="text">{{ data.text }}</div>
        <div class="buttons">
          <app-cta-buttons 
            [primary]="true" [pText]="'Agendar'" [pId]="'agendar'"
            [changeTheme]="false"
            (prim)="contact()" [buttonsStart]="true">
          </app-cta-buttons>
        </div>
      </div>
    </div>
  </div>
