<div class="modal-header" *ngIf="!thanks">
  <h4 class="titulo">Confirmacion compra</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>

  
</div>

<div class="modal-header thanks" *ngIf="thanks">
  <img class="logo" [src]="logoNegro">
</div>

<div class="modal-body">
  
  <div class="producto" *ngIf="!thanks">
    <div class="text-muted">Tu compra:</div>
    <div class="detalleProducto">
      <div *ngIf="!datos.set">
        {{ datos.qty }} {{ datos.desc }} color {{ colors[datos.color].name }}
      </div>
      <div class="mt-2" *ngIf="datos.set">
          {{ datos.qty }} {{ datos.desc }}
          <ul>
            <li *ngFor="let color of datos.color">
              {{ color.size }} color {{ colors[color.color].name }}
            </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="thanks" *ngIf="thanks">
    <!-- <img class="logo" [src]="logoNegro"> -->
    <div class="titulo">
      Muchas gracias por tu compra, en breve nos estaremos comunicando			
    </div>
  </div>

</div>

<div class="modal-footer" *ngIf="!thanks">
  <div class="textoConfirmacion mb-3">Confirmanos tus datos y nos comunicaremos para coordinar el envio y pago</div>

  <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

    <div class="form-group row">
      <label class="text-muted col-3 col-lg-2 col-form-label" for="nombre">Nombre</label>
      <div class="col-9 col-lg-10">
        <input type="text" formControlName="name" class="form-control"
        [ngClass]="{'missing': myForm.controls.name.invalid && (myForm.controls.name.dirty || myForm.controls.name.touched)}">
      </div>
    </div>

    <!-- indicacion que falta el nombre -->
    <div *ngIf="myForm.controls.name.invalid && (myForm.controls.name.dirty || myForm.controls.name.touched)" class="row">
      <div *ngIf="myForm.controls.name.errors.required" class="col-9 col-lg-10 offset-md-3 offset-lg-2">
        <!-- <ngb-alert [dismissible]="false" [type]="'light'">
          ¡Nos falta tu nombre!
        </ngb-alert> -->
        <div class="missing-text">¡Nos falta tu nombre!</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="text-muted col-3 col-lg-2 col-form-label" for="tel">Telefono</label>
      <div class="col-9 col-lg-10">
        <input type="tel" formControlName="telephone" class="form-control"
        [ngClass]="{'missing': myForm.controls.telephone.invalid && (myForm.controls.telephone.dirty || myForm.controls.telephone.touched)}">
      </div>
    </div>

    <!-- indicacion falta telefono -->
      <div *ngIf="myForm.controls.telephone.invalid && (myForm.controls.telephone.dirty || myForm.controls.telephone.touched)" class="row">
      <div *ngIf="myForm.controls.telephone.errors.required" class="col-9 col-lg-10 offset-md-3 offset-lg-2">
        <!-- <ngb-alert [dismissible]="false" [type]="'light'">
          Necesitamos saber tu numero de telefono para contactarte
        </ngb-alert> -->
        <div class="missing-text">Necesitamos saber tu numero de telefono para contactarte</div>
      </div>
    </div>
    
    <div class="form-group row">
      <label class="text-muted col-3 col-lg-2 col-form-label" for="email">E-mail</label>
      <div class="col-9 col-lg-10">
        <input type="e-mail" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp"
        [ngClass]="{'missing': myForm.controls.email.invalid && (myForm.controls.email.dirty || myForm.controls.email.touched)}">
      </div>
    </div>

    <!-- indicacion falta mail -->
      <div *ngIf="myForm.controls.email.invalid && (myForm.controls.email.dirty || myForm.controls.email.touched)" class="row">
      <div *ngIf="myForm.controls.email.errors.required" class="col-9 col-lg-10 offset-md-3 offset-lg-2">
        <!-- <ngb-alert [dismissible]="false" [type]="'light'">
          Necesitamos saber tu e-mail para contactarte
        </ngb-alert> -->
        <div class="missing-text">Necesitamos saber tu e-mail para contactarte</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="text-muted col-lg-2 col-form-label" for="textArea">Observaciones</label>
      <div class="col-lg-10">
        <textarea formControlName="query" class="form-control" id="textArea" rows="3"></textarea>
      </div>
    </div>

    <button id="confirmar-compra" [disabled]="!myForm.valid" type="submit" class="btn botonComprar mr-3 align-self-start">Confirmar Compra</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancelar</button>

  </form>

</div>
  