.apps {
  height: calc(100vh - var(--navbar-height));
}

.row {
  height: 50%;
}

.texto {
  background-color: var(--green-light);
  font-size: 1.7rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: white;
}

.application {
  cursor: pointer;
  position: relative;
}

.custom {
  height:100%;
  width: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.application:hover>div.custom {
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
  filter: brightness(60%);
}

.iconsH {
  width: 10rem;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iconsV {
  width: auto;
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.appText {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.appNames {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  color: white;
}

// esto hay que arreglarlo para moviles
@media (max-width: 767.98px) {

  .apps {
    height: auto;
  }

  .row {
    height: calc(100vh - var(--navbar-height));
  }

 }