<div class="apps container-fluid">
<!-- <div class="container-fluid"> -->
    
    <div class="row">

      <div class="col-md-6 col-sm-12 p-0 application" (click) = "goTo('/aplicaciones/pisos-interiores')" >
        <div [ngStyle]="{'background-image': 'url(' + appMenu.pisosInt.img + ')'}"
        class="custom"></div>
        <div class="d-flex flex-column justify-content-center w-100 appText">
          <div class="align-self-center w-100"><img [src]="appMenu.pisosInt.icon" class="iconsH p-2 mb-3" alt=""></div>
          <div class="appNames text-center p-2 align-self-center">{{ appMenu.pisosInt.text }}</div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 p-0 application" (click) = "goTo('/aplicaciones/pisos-exteriores')" >
        <div [ngStyle]="{'background-image': 'url(' + appMenu.pisosExt.img + ')'}"
        class="custom"></div>
        <div class="d-flex flex-column justify-content-center w-100 appText">
          <div class="align-self-center w-100"><img [src]="appMenu.pisosExt.icon" class="iconsH p-2 mb-3" alt=""></div>
          <div class="appNames text-center p-2 align-self-center">{{ appMenu.pisosExt.text }}</div>
        </div>
      </div>

    </div>
    
    <div class="row">

      <div class="col-md-6 col-sm-12 p-0 application" (click) = "goTo('/aplicaciones/revestimientos')" >
        <div [ngStyle]="{'background-image': 'url(' + appMenu.revestimientos.img + ')'}"
        class="custom"></div>
        <div class="d-flex flex-column justify-content-center w-100 appText">
          <div class="align-self-center w-100"><img [src]="appMenu.revestimientos.icon" class="iconsV p-2 mb-3" alt=""></div>
          <div class="appNames text-center p-2 align-self-center">{{ appMenu.revestimientos.text }}</div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 p-0 application" (click) = "goTo('/aplicaciones/mesas')" >
        <div [ngStyle]="{'background-image': 'url(' + appMenu.mesas.img + ')'}"
        class="custom"></div>
        <div class="d-flex flex-column justify-content-center w-100 appText">
          <div class="align-self-center w-100"><img [src]="appMenu.mesas.icon" class="iconsH p-2 mb-3" alt=""></div>
          <div class="appNames text-center p-2 align-self-center">{{ appMenu.mesas.text }}</div>
        </div>
      </div>

    </div>

  </div>
<!-- </div> -->

<app-steps></app-steps>
<app-trust-quadri></app-trust-quadri>
