<div class="jumbotron jumbotron-fluid m-0">
  <div class="container">
    <div class="text-center title">
      {{ data.title }}
    </div>
    <div class="text">
      <div *ngFor="let p of data.text" class="p">{{ p }}</div>
    </div>
    <div class="botones">
    <app-cta-buttons [changeTheme]="true" [primary]="true" (prim)="router.navigate(['/productos'])"
    [terciary]="true" [tText]="'Conocer +'" (ter)="router.navigate(['/nosotros'])"
    [vertical]="true"></app-cta-buttons>
  </div>
</div>
