.apps {
  height: calc(100vh - var(--navbar-height));
}

.row {
  height: 50%;
}

.texto {
  background-color: var(--green-light);
  font-size: 1.7rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: white;
}

.application {
  cursor: pointer;
}

.custom {
	height:100%;
  flex: 1;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.customDark{
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
  filter: brightness(50%);
}


.iconsH {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iconsV {
  width: 15%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.appText {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.appNames {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  color: white;
}