
.foot {
	background-color: var(--black);
  font-size: 0.8rem;
  font-weight: 100;
  color: var(--light);
}

.title {
	font-size: 1rem;
	font-weight: 500;
}

.links {
	color: var(--light);
}

.networks {
	font-size: 3rem;
}

.nota {
	font-size: 0.7rem;
  font-weight: 100;
}

@media (max-width : 415px) {

	.mobileWidth {
		width: 100% !important;
		max-width: 100%;
	}

}