
.foot {
	background-color: var(--black);
  font-size: 0.9rem;
  color: #ddd;
}

.title {
	color: #ddd;
	font-size: 1rem;
}

.links {
	color: #ddd;
}

.networks {
	max-width: 2.5rem;
}

.nota {
	color: #ddd;
	font-size: 0.7rem;
  font-weight: 100;
}

@media (max-width : 415px) {

	.mobileWidth {
		width: 100% !important;
		max-width: 100%;
	}

}