
.foot, .copy {
	background-color: var(--black);
	color: var(--light);
}

.foot {
  font-size: 0.8rem;
  font-weight: 100;
  color: var(--light);
}

.title {
	font-size: 1rem;
	font-weight: 100;
	padding-bottom: 1.5rem;
}

.links {
	color: var(--light);
}

.networks {
	font-size: 3rem;
}

.nota {
	font-size: 0.7rem;
  font-weight: 100;
}

.ofertas {
	cursor: pointer;
}

@media (max-width : 415px) {

	.footer-wrapper {
		padding-top: 0px;
	}

	.mobileWidth {
		width: 100% !important;
		max-width: 100%;
	}

	.title {
		padding-bottom: 0.5rem;
    padding-top: 1rem;
	}

}