.prod-header-wrapper{
  position: relative;
}

.imagen-presentacion, {
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
  filter: brightness(60%);
}

.title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: 100;
  color: white;
}

.product-container{
  flex-direction: row;
  flex-wrap: wrap;
}

.prod {
  height: 21rem;
  width: 21rem;
  position: relative;
  margin: 1rem;
}

.background {
  background-color: var(--green-dark);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 1.8rem;
  // font-weight: 100;
  color: white;
  height: 100%;
  width: 100%;
}

.text-wrapper:hover {
  cursor: pointer;
}

// hago target al hijo de la clase .prod cuando hoover. puntualente sobre div.background
.prod:hover>div.background {
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
  filter: brightness(60%);
}

@media (max-width: 767.98px) {

  .product-container{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .prod {
    margin: 1rem auto 1rem auto;
  }

  .title {
    font-size: 2rem;
    font-weight: 130;
    color: white;
  }

 }
