
.title-wrapper {
  height: 32vh;
}

.title {
  font-size: 6vh;
  font-weight: 200;
  // color: white;
}

.sub-title {
  margin-top: 1vh;
  font-size: 3.5vh;
  font-weight: 100;
}

.product-container{
  flex-direction: row;
  flex-wrap: wrap;
}

.col-title {
  margin: 2vh 2vh 2vh 0;
  cursor: pointer;
}

.col-title:hover {
  text-decoration: underline;
}

.prod {
  height: 15rem;
  width: 15rem;
  position: relative;
  margin: 1rem;
}

.background {
  background-color: var(--green-dark);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}

// hago target al hijo de la clase .prod cuando hoover. puntualente sobre div.background
.prod:hover>div.background {
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
}

.text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  width: 100%;
}

.text-wrapper:hover {
  cursor: pointer;
}

.prod-name {
  background-color: var(--grey);
  font-size: 1rem;
  font-weight: 100;
}

@media (max-width: 767.98px) {

  .product-container{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .prod {
    margin: 1rem auto 1rem auto;
  }

  .title {
    font-size: 2rem;
    font-weight: 130;
    color: white;
  }

  .sub-title {
    margin-top: 5vh;
    font-size: 2.3vh;
    font-weight: 100;
  }

 }
